@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
* {
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
    /*property is not being overwritten by below rules, still need to research this*/
}

*::selection {
    background-color: var(--color-top);
}

body {
    background-color: var(--color-bottom);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-font);
    margin: 0;
}

img {
    border: 2px var(--color-top) solid;
    /*display: block;*/
    float: right;
    width: 111px;
    height: 100%;
    border-radius: 20%;
    margin-left: 10px;
}

h1,
h2 {
    background-color: var(--color-top);
    color: var(--color-bottom);
    padding: 5px;
    /*margin: auto;*/
    /*text-align: center;*/
}

h1,
h2,
h3 {
    text-transform: capitalize;
}

p {
    text-align: justify;
    text-justify: inter-word;
    word-spacing: 2px;
}

a {
    color: var(--color-top)
}

ul {
    list-style-type: square;
}

a:visited {
    color: var(--color-top)
}

#profile {
    display: table;
}

abbr {
    text-decoration: none;
}

ul.inner-list {
    list-style-type: none;
}


/*top nav style*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-top);
}

nav li {
    float: left;
}

nav li a,
nav li a:visited {
    display: block;
    color: var(--color-bottom);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    text-transform: capitalize;
}

nav li a:hover,
nav li a:active {
    background-color: var(--color-bottom);
    color: var(--color-top);
}

.current a {
    background-color: var(--color-bottom);
    color: var(--color-top);
}


/*End top nav Style*/


/*footer Style*/

footer ul {
    list-style-type: none;
}

footer ul.social {
    float: right;
    margin-top: 0;
}

footer ul.copy {
    float: left;
    margin-top: 0;
    padding-left: 5px;
    color: var(--color-top);
    font-weight: bold;
}

footer li {
    float: left;
}

footer li a:link,
footer li a:visited {
    text-decoration: none;
    padding: 15px 5px 15px;
    text-align: center;
}

footer li a:hover {
    text-decoration: none;
    padding: 15px 5px 15px;
    text-align: center;
    opacity: 0.6;
}


/*End footer Style*/
