body {
    /*background-image: url(black-background.jpg) !important;*/
    background-image: url(../img/wallhaven-rd7drw.jpg) !important;
}

.custom-footer {
    position: fixed;
    bottom: 5%;
}

.custom-no-bg {
    background: none !important;
}

.custom-login-links>a {
    font-weight: bold;
    padding: 10px !important;
    color: white;
}

.custom-menu-btn {
    display: none !important;
}

@media screen and (max-width: 750px) {
    .custom-login-links-small>a {
        padding: 0px !important;
        display: block;
        text-align: center !important;
    }
    body {
        background-image: url(../img/black-background.jpg) !important;
        /*background-image: url(wallhaven-rd7drw.jpg) !important;*/
    }
}